body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    margin: 20px 0;
}

button {
    background: #1DB954;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}